body {margin:0}
A:visited {color:#609;text-decoration:underline}
A:hover {text-decoration:underline}
.textbox {border-bottom:#fff 1px solid;border-left:#fff 1px solid;border-right:#fff 1px solid;border-top:#fff 1px solid;color:#000;height:16px;text-indent:5px;background:#fff;font:10px Tahoma,Verdana,Arial,Geneva,sans-serif}
.txtSubBtn {border-bottom:#fff 1px solid;border-left:#fff 1px solid;border-right:#fff 1px solid;border-top:#fff 1px solid;color:#FFF;height:16px;width:51px;background:#09c;font:10px Tahoma,Verdana,Arial,Geneva,sans-serif}
.mainfont {color:#333;text-decoration:none;font:700 8.5pt tahoma}
.mainfontd {color:#333;text-decoration:none;font:400 8.5pt tahoma}
.mainfontg {color:#FC0;margin:1px 3px 0 0;text-decoration:none;font:400 7pt tahoma}
.mainfont2 {color:#333;text-decoration:none;font:700 8pt verdana}
.font1 {font:400 9pt verdana}
.font4 {margin-top:6px;font:400 9pt verdana}
.white {color:#FFF;background:#09C;font:8.5pt verdana}
.gold2 {color:#DD0616;padding:0;vertical-align:middle;font:700 10px Georgia}
.normalblack {color:#000;font:8.5pt tahoma}
.normalblack1 {color:#00009E;font:8pt Verdana}
.gray {color:#0708D4;font:700 7pt tahoma}
.style9 {color:#930;font:400 8pt Georgia,Verdana}
.menubg2 a:visited {color:#9FD9FF;font-weight:none;text-decoration:none}
.menubg34 {color:#FCCE18;height:35px;margin:0;padding:0;text-align:center;background-color:#009 repeat-x;font:700 9pt georgia}
.menubg3 a:visited {color:#FFD700;font-weight:none;text-decoration:none}
form {margin:4px;padding:4px}
.tableT2aa {border:1px solid #CCC;color:#039;height:28px;margin:0;padding:0;vertical-align:middle;background:#009 no-repeat;font:700 9pt georgia}
.sportbook {border:1px solid #0982B6;color:#000;height:29px;vertical-align:middle;background:SportBooks_bg.jpg no-repeat;font:700 8.5pt tahoma,Arial}
.nflpoll {color:#000;height:30px;text-align:center;vertical-align:middle;background:NFLweeklypoll.jpg no-repeat;font:700 8.5pt verdana,Arial}
.tableT3 {border:1px solid #009;color:#000;height:28px;vertical-align:middle}
.brown {color:#930;font:400 8.5pt tahoma,Arial}
.sample_5a a:hover {background:#FFF;border-bottom:1px solid #00B2FD;border-left:1px solid #FFF;border-right:1px solid #00B2FD;border-top:1px solid #00B2FD;color:#000;height:25px;margin:0;padding:4px 10px;text-decoration:none}
.sample_1 {background:#FC0 repeat-x center left;font:bold 8pt Verdana;margin:0;padding:0}
.sample_1 a {background:#FCCE18 repeat-x center left;color:#000;height:20px;margin:0;padding:4px 10px;text-decoration:none}
.sample_1 a:hover {background:#FCCE18 repeat-x center left;color:#FFF;height:20px;margin:0;padding:4px 10px;text-decoration:none}
.sample_6a a:hover {background:#FFF;border-bottom:1px solid #00B2FD;border-left:1px solid #00B2FD;border-right:1px solid #00B2FD;border-top:1px solid #00B2FD;color:#000;margin:0;padding:4px 0 5px 5px;text-decoration:none}
A:link,A:active {color:#0903FF;text-decoration:underline}
.menubg2 a:hover,.menubg3 a:hover {color:#fff;text-decoration:none}
